In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("adult_data.csv")
print(df.head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

# How many of each race are represented in this dataset?

In [5]:
race_count = df.race.value_counts()
print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

# What is the average age of men?

In [6]:
print(df.dtypes)

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

In [7]:
df_men = df[df["sex"]=="Male"]
print(df_men)

       age         workclass  fnlwgt     education  education-num  \
0       39         State-gov   77516     Bachelors             13
1       50  Self-emp-not-inc   83311     Bachelors             13
2       38           Private  215646       HS-grad              9
3       53           Private  234721          11th              7
7       52  Self-emp-not-inc  209642       HS-grad              9
...    ...               ...     ...           ...            ...
32553   32           Private  116138       Masters             14
32554   53           Private  321865       Masters             14
32555   22           Private  310152  Some-college             10
32557   40           Private  154374       HS-grad              9
32559   22           Private  201490       HS-grad              9

           marital-status         occupation   relationship  \
0           Never-married       Adm-clerical  Not-in-family
1      Married-civ-spouse    Exec-managerial        Husband
2                Divorced  Handlers-cleaners  Not-in-family
3      Married-civ-spouse  Handlers-cleaners        Husband
7      Married-civ-spouse    Exec-managerial        Husband
...                   ...                ...            ...
32553       Never-married       Tech-support  Not-in-family
32554  Married-civ-spouse    Exec-managerial        Husband
32555       Never-married    Protective-serv  Not-in-family
32557  Married-civ-spouse  Machine-op-inspct        Husband
32559       Never-married       Adm-clerical      Own-child

                     race   sex  capital-gain  capital-loss  hours-per-week  \
0                   White  Male          2174             0              40
1                   White  Male             0             0              13
2                   White  Male             0             0              40
3                   Black  Male             0             0              40
7                   White  Male             0             0              45
...                   ...   ...           ...           ...             ...
32553  Asian-Pac-Islander  Male             0             0              11
32554               White  Male             0             0              40
32555               White  Male             0             0              40
32557               White  Male             0             0              40
32559               White  Male             0             0              20

      native-country salary
0      United-States  <=50K
1      United-States  <=50K
2      United-States  <=50K
3      United-States  <=50K
7      United-States   >50K
...              ...    ...
32553         Taiwan  <=50K
32554  United-States   >50K
32555  United-States  <=50K
32557  United-States   >50K
32559  United-States  <=50K

[21790 rows x 15 columns]

In [8]:
average_age_men = df_men.age.mean()
print(average_age_men)

39.43354749885268

# What is the percentage of people who have a Bachelor's degree?

In [9]:
df_bachelors = df[df["education"]=="Bachelors"]
df_bachelors.education.count()

5355

In [10]:
df.education.count()

32561

In [11]:
percent_bachelors = (df_bachelors.education.count()/df.education.count())*100
print("The percentage of people with a bachelor's degree is {}%".format(percent_bachelors))

The percentage of people with a bachelor's degree is 16.44605509658794%

# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [12]:
df_advanced_education_more_fiftyK = df[(df["salary"]==">50K")&(df["education"]=="Bachelors")|(df["education"]=="Masters")|(df["education"]=="Doctorate")]

In [13]:
df_advanced_education_more_fiftyK.education.count()

4357

In [14]:
df_advanced_education = df[(df["education"]=="Bachelors")|(df["education"]=="Masters")|(df["education"]=="Doctorate")]
df_advanced_education.education.count()

7491

In [15]:
percent_advanced_education_more_fiftyK = 100*(df_advanced_education_more_fiftyK.education.count())/(df_advanced_education.education.count())
print("The percentage of people with advanced education who make more than $50k is {}%".format(percent_advanced_education_more_fiftyK))

The percentage of people with advanced education who make more than $50k is 58.163129088239224%

# What percentage of people without advanced education make more than 50K?

In [16]:
df_without_advanced_education = df[(df["education"]!="Bachelors")&(df["education"]!="Masters")&(df["education"]!="Doctorate")]
df_without_advanced_education.education.count()

25070

In [17]:
df_without_advanced_education_more_fiftyK = df[(df["salary"]==">50K")&(df["education"]!="Bachelors")&(df["education"]!="Masters")&(df["education"]!="Doctorate")]

df_without_advanced_education_more_fiftyK.education.count()

4355

In [18]:
percent_without_advanced_more_fiftyK = 100*(df_without_advanced_education_more_fiftyK.education.count())/(df_without_advanced_education.education.count())
print("The percentage of people without advanced education who make more than $50k is {}%".format(percent_without_advanced_more_fiftyK))

The percentage of people without advanced education who make more than $50k is 17.3713601914639%

# What is the minimum number of hours a person works per week

In [19]:
print(df["hours-per-week"].min())

1

# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [20]:
df = df.rename(columns={"education-num":"education_num", "marital-status":"marital_status", "capital-gain":"capital_gain", "capital-loss":"capital_loss", "hours-per-week":"hours_per_week", "native-country":"native_country"})

In [21]:
df_min_hours = df[df["hours_per_week"]==1]
df_min_hours.age.count()

20

In [22]:
df_min_hours_more_fiftyK = df[(df["hours_per_week"]==1)&(df["salary"]==">50K")]
df_min_hours_more_fiftyK.age.count()

2

In [23]:
percent_min_hours_more_fiftyK = 100*(df_min_hours_more_fiftyK.age.count()/df_min_hours.age.count())
print("The percentage of people who work the minimum number of hours per week who have a salary of more than 50K is {}%".format(percent_min_hours_more_fiftyK))

The percentage of people who work the minimum number of hours per week who have a salary of more than 50K is 10.0%

# What country has the highest percentage of people that earn >50K and what is that percentage?

In [24]:
df.native_country.unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [37]:
a = df.native_country.value_counts()
print(a)

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native_country, dtype: int64

In [38]:
# native_country_count = {}
# for country_name in df["native_country"]:
#     if country_name != native_country_count:
#         native_country_count[country_name] = (df.native_country == country_name).sum()
#         #alternative method: native_country_count[country_name] = df.native_country.value_counts()[country_name]
# print(native_country_count)

In [39]:
# native_country_more_than_fiftyK_count = {}
# for country_name in df["native_country"]:
#     if country_name != native_country_more_than_fiftyK_count:
#         native_country_more_than_fiftyK_count[country_name] = df[(df.native_country == country_name) & (df.salary == ">50K")].sum()
# print(native_country_more_than_fiftyK_count) 

b = df[(df.salary == ">50K")].native_country.value_counts()
print(b)

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Ireland                  5
Vietnam                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: native_country, dtype: int64

In [54]:
c = round(100* b/a, 2)
print(c)

?                             25.04
Cambodia                      36.84
Canada                        32.23
China                         26.67
Columbia                       3.39
Cuba                          26.32
Dominican-Republic             2.86
Ecuador                       14.29
El-Salvador                    8.49
England                       33.33
France                        41.38
Germany                       32.12
Greece                        27.59
Guatemala                      4.69
Haiti                          9.09
Holand-Netherlands              NaN
Honduras                       7.69
Hong                          30.00
Hungary                       23.08
India                         40.00
Iran                          41.86
Ireland                       20.83
Italy                         34.25
Jamaica                       12.35
Japan                         38.71
Laos                          11.11
Mexico                         5.13
Nicaragua                      5.88
Outlying-US(Guam-USVI-etc)      NaN
Peru                           6.45
Philippines                   30.81
Poland                        20.00
Portugal                      10.81
Puerto-Rico                   10.53
Scotland                      25.00
South                         20.00
Taiwan                        39.22
Thailand                      16.67
Trinadad&Tobago               10.53
United-States                 24.58
Vietnam                        7.46
Yugoslavia                    37.50
Name: native_country, dtype: float64

In [58]:

    
for val, cnt in c.iteritems():
    percentage = "The percentage of people in {country} who earn more than $50k is {percent}%.".format(country = val, percent = cnt)
    print(percentage)

The percentage of people in ? who earn more than $50k is 25.04%.
The percentage of people in Cambodia who earn more than $50k is 36.84%.
The percentage of people in Canada who earn more than $50k is 32.23%.
The percentage of people in China who earn more than $50k is 26.67%.
The percentage of people in Columbia who earn more than $50k is 3.39%.
The percentage of people in Cuba who earn more than $50k is 26.32%.
The percentage of people in Dominican-Republic who earn more than $50k is 2.86%.
The percentage of people in Ecuador who earn more than $50k is 14.29%.
The percentage of people in El-Salvador who earn more than $50k is 8.49%.
The percentage of people in England who earn more than $50k is 33.33%.
The percentage of people in France who earn more than $50k is 41.38%.
The percentage of people in Germany who earn more than $50k is 32.12%.
The percentage of people in Greece who earn more than $50k is 27.59%.
The percentage of people in Guatemala who earn more than $50k is 4.69%.
The percentage of people in Haiti who earn more than $50k is 9.09%.
The percentage of people in Holand-Netherlands who earn more than $50k is nan%.
The percentage of people in Honduras who earn more than $50k is 7.69%.
The percentage of people in Hong who earn more than $50k is 30.0%.
The percentage of people in Hungary who earn more than $50k is 23.08%.
The percentage of people in India who earn more than $50k is 40.0%.
The percentage of people in Iran who earn more than $50k is 41.86%.
The percentage of people in Ireland who earn more than $50k is 20.83%.
The percentage of people in Italy who earn more than $50k is 34.25%.
The percentage of people in Jamaica who earn more than $50k is 12.35%.
The percentage of people in Japan who earn more than $50k is 38.71%.
The percentage of people in Laos who earn more than $50k is 11.11%.
The percentage of people in Mexico who earn more than $50k is 5.13%.
The percentage of people in Nicaragua who earn more than $50k is 5.88%.
The percentage of people in Outlying-US(Guam-USVI-etc) who earn more than $50k is nan%.
The percentage of people in Peru who earn more than $50k is 6.45%.
The percentage of people in Philippines who earn more than $50k is 30.81%.
The percentage of people in Poland who earn more than $50k is 20.0%.
The percentage of people in Portugal who earn more than $50k is 10.81%.
The percentage of people in Puerto-Rico who earn more than $50k is 10.53%.
The percentage of people in Scotland who earn more than $50k is 25.0%.
The percentage of people in South who earn more than $50k is 20.0%.
The percentage of people in Taiwan who earn more than $50k is 39.22%.
The percentage of people in Thailand who earn more than $50k is 16.67%.
The percentage of people in Trinadad&Tobago who earn more than $50k is 10.53%.
The percentage of people in United-States who earn more than $50k is 24.58%.
The percentage of people in Vietnam who earn more than $50k is 7.46%.
The percentage of people in Yugoslavia who earn more than $50k is 37.5%.

# Identify the most popular occupation for those who earn >50K in India.

In [29]:
print(df[(df["native_country"]=="India") & (df["salary"]==">50K")].occupation.value_counts())

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64